body{
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
}
#my_canvas{
    background-color: white;
    border-width: 10px;
    border-style: ridge;
}
h1{
    color: red;
}